@charset "UTF-8";
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #ffffff;
  --footer-text-color: #ffffff99;
  --accent-color: #2196f3;
  --hero-background-color: #2f303a;
  --white-background-color: #ffffff;
  --team-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --hero-buton-activ: #188ce8;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  font-size: 14px;
  background-color: var(--white-background-color);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  display: block;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

address {
  font-style: normal;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus,
.link:active {
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid #ececec;
}

/*------header------------*/
.logo--upleft {
  margin-right: 93px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo--upright {
  color: var(--primary-text-color);
}

/*------footer------------*/
.logo--downleft {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo--downright {
  color: var(--white-text-color);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
  padding: 32px 0;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link--current::after {
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: 26px;
  display: block;
  content: "";
  background: #2196f3;
  border-radius: 2px;
  height: 4px;
}

.nav__link--current {
  color: #2196f3;
}

/*------nav-contacts------------*/
.contacts {
  gap: 50px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__mail--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__tel--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__svg--mail {
  fill: currentColor;
}

.contacts__svg--tel {
  fill: currentColor;
}

/*------footer-contacts------------*/
.contacts--footer {
  margin-top: 20px;
  font-style: normal;
}

.contacts__item--footer:not(:last-child) {
  margin-bottom: 9px;
}

.contacts__map--footer {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}

.contacts__mail--footer {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
}

.contacts__tell--footer {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
}

.contacts__map--footer,
.contacts__mail--footer,
.contacts__tell--footer {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
  height: 600px;
  background-color: var(--footer-background-color);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-background.jpc.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background.jpc.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__title {
  text-align: center;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin: 0 auto;
}

/*---------hero----------*/
.button--hero {
  display: inline-block;
  margin-top: 30px;
  min-width: 216px;
  height: 50px;
  top: 430px;
  left: 692px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button--hero:hover,
.button--hero:focus,
.button--hero:active {
  background-color: var(--hero-buton-activ);
  color: var(--white-text-color);
}

/*--------button--filter-------*/
.button--filter-list .button--filter {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px 22px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--team-background-color);
  cursor: pointer;
  border: none;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button--filter:hover,
.button--filter:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* .................button--send............ */
.button--send {
  margin-top: 30px;
  margin-left: 125px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--white-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--send:hover,
.button--send:focus,
.button--send:active {
  background: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* .................button--close............ */
.button--close {
  width: 30px;
  height: 30px;
  border: 1px solid #909090;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--close:hover,
.button--close:focus {
  fill: var(--hero-buton-activ);
}

.about__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about__list {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 270px;
}

.about__item::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  background-repeat: no-repeat;
  background-color: #f5f4fa;
  background-position: center;
}

.about__item:not(:last-child) {
  margin-right: 30px;
}

.about__icon--antenna::before {
  background-image: url(../images/спрайти/antenna.svg);
  margin-bottom: 30px;
  border-radius: 4px;
}

.about__icon--clock::before {
  background-image: url(../images/спрайти/clock.svg);
  margin-bottom: 30px;
  border-radius: 4px;
}

.about__icon--diagram::before {
  background-image: url(../images/спрайти/diagram.svg);
  margin-bottom: 30px;
  border-radius: 4px;
}

.about__icon--astronaut::before {
  background-image: url(../images/спрайти/astronaut.svg);
  margin-bottom: 30px;
  border-radius: 4px;
}

.about__title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.about__txt {
  max-width: 270px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.work {
  padding-top: 0;
}

.work__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.work__list {
  margin: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.work__item {
  width: 370px;
}

.work__wrap {
  position: relative;
  overflow: hidden;
}

.work__text {
  text-align: center;
  color: var(--white-text-color);
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  padding: 27px 0px 27px 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.12;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  bottom: 0%;
  width: 100%;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--team-background-color);
}

.team__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team__list {
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__item {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__cards {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team__txt {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/*--------team-------*/
.social--team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.social__item--team {
  border-radius: 50%;
  color: #afb1b8;
  background-color: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__item--team:hover,
.social__item--team:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
}

.social__link--team {
  fill: currentColor;
}

/* -------footer-social----- */
.social--footer {
  margin-left: 70px;
}

.social__title--footer {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 20px;
}

.social__list--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.social__link--footer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-position: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--white-text-color);
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link--footer:hover,
.social__link--footer:focus {
  background-color: var(--accent-color);
}

.social__logo--footer {
  fill: currentColor;
}

.clients {
  padding: 94px 0px;
}

.clients__titel {
  margin-bottom: 50px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

.clients__list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.clients__name {
  width: 170px;
  height: 92px;
}

.clients__logo {
  width: 170px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition-property: color, border-color;
  transition-property: color, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__logo:hover,
.clients__logo:focus,
.clients__logo:active {
  border-color: var(--hero-buton-activ);
  color: var(--hero-buton-activ);
}

.clients__svg {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer {
  padding: 60px 0;
  background-color: var(--footer-background-color);
}

.footer__container {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__spam {
  margin-left: auto;
}

.footer__spam-title {
  color: var(--white-text-color);
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.button--footer {
  padding: 10px 28px;
  position: relative;
  color: var(--white-text-color);
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  margin-left: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button--footer:focus,
.button--footer:hover {
  color: var(--white-text-color);
  background-color: var(--hero-buton-activ);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer__icon-send {
  -webkit-transform: translateY(-45%);
          transform: translateY(-45%);
  position: absolute;
  margin-left: 10px;
}

.footer__spam-mail {
  color: var(--white-text-color);
  outline: none;
  width: 358px;
  height: 50px;
  border-radius: 4px;
  background-color: transparent;
  resize: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 16px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__spam-mail:focus {
  border: 1px solid var(--white-text-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter__list {
  margin-bottom: 50px;
  gap: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects {
  padding: 0 0 0 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.projects__link:hover,
.projects__link:focus {
  display: block;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__top-wrap {
  position: relative;
  overflow: hidden;
}

.projects__cover-text {
  color: var(--white-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  padding: 63px 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.12;
  letter-spacing: 0.03em;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__container {
  border-top: 0px;
  padding: 20px 24px;
  border: 1px solid rgb(238, 238, 238);
}

.projects__titel {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.projects__txt {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.projects__item:hover .projects__cover-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.projects__link:hover .projects__cover-text,
.projects__link:focus .projects__cover-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
  visibility: 300ms linear;
}

.backdrop.is-hidden .backdrop__modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: var(--white-background-color);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 300ms linear;
  transition: -webkit-transform 300ms linear;
  transition: transform 300ms linear;
  transition: transform 300ms linear, -webkit-transform 300ms linear;
  padding: 40px;
}

.modal__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal__label-text,
.modal__label {
  margin-top: 10px;
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
}

.modal__wrap {
  position: relative;
}

.modal__label {
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
}

.modal__input {
  font-size: 14px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 40px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 12px;
  /* transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.modal__input:focus + .modal__input-icon,
.modal__input:hover + .modal__input-icon {
  fill: var(--accent-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input-icon:hover,
.modal__input-icon:focus {
  fill: var(--accent-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus,
.modal__input:hover {
  border: 1px solid var(--accent-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__label-text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__field {
  margin-bottom: 20px;
}

.modal__comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 5px;
  resize: none;
  padding: 10px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__comment:focus,
.modal__comment:hover {
  border: 1px solid var(--accent-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

.checkbox__check:checked + .checkbox__text span {
  background-color: var(--accent-color);
  border-color: transparent;
  fill: var(--hero-buton-activ);
}

.checkbox__check:focus + .checkbox__text span {
  border-color: var(--accent-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__text span {
  margin-left: 13px;
  width: 16px;
  height: 15px;
  border: 2px solid #111319;
  border-radius: 2px;
  margin-right: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: transparent;
}

.checkbox__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkbox__privacy {
  color: rgb(117, 117, 117);
}

.checkbox__link {
  color: #2196f3;
  -webkit-text-decoration: underline #2196f3;
          text-decoration: underline #2196f3;
}/*# sourceMappingURL=main.css.map */