:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #ffffff;
  --footer-text-color: #ffffff99;
  --accent-color: #2196f3;
  --hero-background-color: #2f303a;
  --white-background-color: #ffffff;
  --team-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --hero-buton-activ: #188ce8;
}
